/* loginform.module.css */

.login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto;
}
.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  justify-self: start;
}
.form .button-container {
  display: flex;
  align-items: center;
}

.form h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.form a {
  text-decoration: none;
}
.myBackground {
  background-image: url("/background_image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100vh;
}
.footer {
  text-align: center;
  margin-top: auto;
  padding: 10px;
  background-color: #72a8c9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  color: white;
}
